/* prevent problems on diffrent browzers */
* {box-sizing: border-box;}


body {
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: #E6E6E4;
    color: #001219;
}
    
/* Header styling */


header {
    background-image: linear-gradient(to right, #94D2BD, #0A9396);
    padding: 1.2rem 10px;
}

header span {
    color: #001219;
    font-size: 1.6rem;
    font-weight: 600;
}

/* small screen navigation */
@media only screen and (max-width: 800px) {
    nav {
    background-color: #0A9396;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: white;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 12px;
        margin: 6px;
    }
    nav .active a {
        background-color: #E9D8A6;
        color: #0A9396;
        background-image: linear-gradient(to bottom, #e1d8be, #E9D8A6 );
    }
     .package {
        flex-direction: column;
    }

    .package img {
        width: 100%;
        height: 200px;
    }
}

   
/* end small screen navigation */

/* LARGE screen navigation */
@media only screen and (min-width: 801px) {
    
nav {
    background-color: #0A9396;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 0.83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #E6E6E4;
    font-weight: 600;
    border-radius: 10px;
    margin: 5px;
}

nav li.active a {
    background-color: #E9D8A6;
    color: #0A9396;
}

nav li a:hover {
    color: #001219;
}

}
/* end LARGE screen navigation */



/* Main content styling */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #001219;
    font-size: 2rem;
    font-weight: 600;
}

main h2 {
    color: #0A9396;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

main p {
    margin: 0 0 1rem 0;
    color: #001219;
}

main em {
    font-style: italic;
    font-weight: 300;
}

main strong {
    font-weight: 600;
    color: #0A9396;
}

main ul {
    line-height: 1.4;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    padding-left: 1.5rem;
}

main a {
    color: #94D2BD;
    text-decoration: underline;
}

main a:hover {
    color: #0A9396;
}


.hero {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: white;
    padding: 5px;
}

div.about {
    padding-left: 40px;
}

/* gallery stuff here */

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    border-radius: 5px;
}
div.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
div.gallery figure {
    margin: 0;
    background-color: white;
    padding: 5px;
}
div.gallery figcaption {
    text-align: center;
    font-size: 1rem;
    color: #0A9396;
    padding: .5rem 0;
    font-weight: 600;
}




.myForm fieldset{
    border: 1px solid #94D2BD;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend{
    color: #38A2D6;
    font-size: .8rem;
}
.myForm label{
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], 
.myForm textarea{
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea
{
    border: solid 1px;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}
.myForm [type=submit]:hover {
    background-image: linear-gradient(to bottom, #0A9396, #00474B);
}
.myForm textarea{
    height: 6rem;
}

.myForm :required   {
    background-color: #0A939620;
}
.myForm [type=submit]{
    background-image: linear-gradient(to bottom, #0A9396, #005F63);
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}
.video iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.package {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background: #E6D6FA;
    margin-bottom: 1.5rem;
}
.package img {
    width: 40%;
    object-fit: cover;
    border-radius: 6px;
}
.packagetext {
    flex: 1;
}
@media (max-width: 800px) {
    .package {
        flex-direction: column;
    }
    .package img {
        width: 100%;
        height: 220px;
    }
}

.gallery figure, .package, .hero {
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}



/* Footer styling */
footer {
    background-color:#001219;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #E6E6E4;
}

footer p {
    font-size: 0.8rem;
    color: #E6E6E4;
    margin: 0;
    letter-spacing: 2px;
}

header, nav, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}