

body {
    font-family: "quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: #E6E6E4;
    color: #212530;
}

/* Header styling */
header {
    background-color: #F2D64B;
    padding: 1rem 10px;
}

header span {
    color: #212530;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Navigation styling */
nav {
    background-color: #38A2D6;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 0.83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #E6E6E4;
    font-weight: 600;
}

nav li.active a {
    background-color: #038A44;
    color: #F2D64B;
}

nav li a:hover {
    color: #212530;
}

/* Main content styling */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #212530;
    font-size: 2rem;
    font-weight: 600;
}

main h2 {
    color: #038A44;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

main p {
    margin: 0 0 1rem 0;
    color: #212530;
}

main em {
    font-style: italic;
    font-weight: 300;
}

main strong {
    font-weight: 600;
    color: #038A44;
}

main ul {
    line-height: 1.4;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    padding-left: 1.5rem;
}

main a {
    color: #38A2D6;
    text-decoration: underline;
}

main a:hover {
    color: #038A44;
}

/* Optional: lists like ol or dl */
main ol {
    padding: 0.5rem 30px;
    background-color: #d9d9d9;
}

main dl dt {
    color: #038A44;
    font-weight: 600;
    margin-top: 1rem;
}

main dl dd {
    color: #212530;
    font-size: 0.9rem;
    margin-left: 20px;
}

/* Optional: Address block styling */
main address {
    font-style: normal;
    background-color: #F2D64B;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #038A44;
    width: 200px;
    margin-bottom: 1rem;
}

/* Footer styling */
footer {
    background-color: #212530;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #E6E6E4;
}

footer p {
    font-size: 0.8rem;
    color: #E6E6E4;
    margin: 0;
    letter-spacing: 2px;
}